server:
  port: 8081

spring:
  application:
    name: product-service
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/ranjandb
    username: postgres
    password: postgres

  sql:
    init:
      mode: always
